@CHARSET "UTF-8";
div#mainWrapper{
	background-color:#e8e8e8;
    padding-left:200px; 
 	position: absolute;
	height:100%;
	width:100%;
}
div#sidebarWrapper{
	width:100%;
	height: 100%;
	background-color: white;
}
.card{
	min-height: 40px;
	background-color: white;
	padding:10px;
	width: 30%;
	padding-bottom: 10px;
	margin-top:10px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}

.card:hover{
	 box-shadow: 6px 6px 3px 1px #0A0A0A;
}
