@CHARSET "UTF-8";
#mainHome{
	width: 100%;
	height: 100%;
	background-color: #e8e8e8;
}

#mainWrapper{
	background-color:#e8e8e8;
 	position: absolute;
	height:100%;
	width:100%;
 	padding-left: 200px;
	display: inline-table;
}

#sidebarWrapper{
	height: 100%;
	display: inline-block;
	padding-top: 25px;
	padding-bottom: 25px;
}
.card{
    margin: 0px 20px 10px 0px;
    /* min-height: 180px; */
    /* padding: 20px; */
    /* padding-bottom: 10px; */
    /* margin-top: 10px; */
    /* margin-right: 28px; */
    display: inline-table;
}

.card:hover{
	 box-shadow: 6px 6px 3px 1px #d9d9e2;
}

.card:hover #moreOptions{
	visibility:visible;
}

.card li{
	background-color: white;
	text-align :center;
	cursor: pointer;
}

.card ul{
	background-color: white;
	cursor: pointer;
}

.dropdown img{
	padding-left: 20px;
}


body {
	background-color: #e8e8e8;
}

.dropdown-menu{
	text-align: center;
	font-size: 15px;
}

#moreOptions{
	visibility: hidden;
}

.dropdown-menu li:hover {
	background-color: #e8e8e8;
	 cursor: pointer;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#remenderList{
    width: 30%;
    display: inline-flex;
    margin-left: 0px;
    list-style: none;
    padding: 2px;
    margin: 3px;
}
