@CHARSET "UTF-8";

p.dotted {
	border-style: dotted;
}

#b1{
	background-color: #66ffff;
}

#error1{
	color: red;
}

#d2 {
	background-color: #ffffff;
	margin: 0 auto;
	float: none;
	line-height: 2;
	padding: 10px;
}

input.ng-invalid.ng-dirty{border:1px solid red;}
input.ng-touched{border:1px solid blue;}

