@CHARSET "UTF-8";

div#SideNavigation ul{
	    list-style-type:null;
	    height: 100%;
}

div#SideNavigation li{
     background-color:white;
     margin-right: 20px;
     margin-top: 10px;
     padding: 3px;
     height: 100%;
}
div#SideNavigation a{
	color: black;
    display: block;
}