@CHARSET "UTF-8";

#topNavigation{
 	position : fixed;
 	max-height: 80px;
	width : 100%;
	z-index:2;
    background-color:#ffbb33; 
    display: inline-flex;
} 

#topNavigation li{
/*      margin-right: 20px;
     margin-top: 10px; */
     display: inline-flex ;
}

.navbar-nav{
	float: right;
	margin: 1px 1px 1px 1px;
}

#logoutDroupdown{
	width:350px;
}

#srch{
	text-align: left;
    width: 670px;
    border:none;
    border-radius: 8px;
    background-color: white;
    height: 30px;
}

#topNavigation input{
	length:50px;
}
