<div class="container">
	<div class="row">
		<div class="col-sm-8" id="addNoteForm">
			<div class="form-group">
			<div style="float: right"><span class="glyphicon glyphicon-pushpin"></span></div>
			<div contenteditable="true" placeholder="title" id="notetitle"><br></div>
			<div contenteditable="true" id="noteDescription"></div>
				<!-- <input type="text" placeholder="Title" class="form-control" ng-model="note.title">
				<textarea rows="5" placeholder="Descreption" class="form-control" ng-model="note.description">
				</textarea> -->
				<button ng-click="addNote()" style="float: right">done</button>
			</div>
		</div>
	</div>
</div>