<div id="mainHome">

	<top-navigation-bar></top-navigation-bar>

	<div class="col-sm-2" id="sidebarWrapper" ng-show="showSideBar">
		<side-navigation-bar></side-navigation-bar>
	</div>

	<div class="col-sm-10" id="mainWrapper">
		
		<br> <br> <br> <br>
		
		<div class="card" style="background-color: {{note.noteColor}}"
			ng-repeat="note in userNotes | orderBy : '-modifiedDate' | filter :{archiveStatus:'true',noteStatus:'false', deleteStatus:'false'}">
			
			<div id="moreOptions" style="float: right">
				<span style="cursor: pointer" ng-click="note.pin='true';note.archiveStatus='false' ;note.noteStatus='true'; updateNote(note)">
					<img alt="pin" style="height: 17px" src="image/pin.svg"></img>
				</span>
			</div>
			
			<br>
			<div ng-if="note.title!=''" ng-bind-html="note.title" ng-click="open(note)"></div>
			<br>
			<div ng-if="note.description!=''" ng-bind-html="note.description" ng-click="open(note)"></div>
			<br>
			<img ng-if="note.image!=''" ng-click="open(note)" style="height: 258px;" ng-src="{{note.image}}"/>
			
			<div ng-if="note.reminderStatus!=''">{{note.reminderStatus}}<span ng-click="removeReminder(note)">&#10006;</span></div>
						
			<div id="moreOptions" style="margin-top: 20px">
				
				<div class="dropdown" style="float: right; display: inline-flex;">

					<more-option></more-option>

					<reminder></reminder>

					<img alt="image" ng-click="openImageUploader(note)" src="image/image.svg" height="20px">
					
					<img alt="colaburator" src="image/colaburator.png" ng-click="openCollaborator(note)" height="25px">

					<color-palet></color-palet>

					<span ng-click="unarchiveNote(note)"> 
						<img alt="unarchive" src="image/unarchive.png" height="17px">
					</span>

				</div>
				
			</div>
			
		</div>
		
	</div>
	
</div>