<div class="row">

	<div id="d1" class="col-sm-6 col-lg-6 col-md-9 col-xs-12" style="padding: 10px">
		
		<h3 ng-bind="error3"></h3>
		<br> <br> 
		
		<input type="email" ng-model="user.email" placeholder="Email" class="form-control" required> <br>
		
		<input type="password" placeholder="New Password" ng-model="user.password" class="form-control" required> <br>
		
		<button type="submit" class="btn btn-info btn-block" ng-click="changePassword()">Change Password</button>
		
		<br>
		
		<h3>
			<a href="#!/login">Back To Login Page</a>
		</h3>
		
	</div>
	
</div>

