<div>
	
	<top-navigation-bar></top-navigation-bar>
	
	<div class="row">
		
		<div class="col-sm-2" id="sidebarWrapper" ng-show="showSideBar">
			<side-navigation-bar></side-navigation-bar>
		</div>
		
		<div id="mainHome">
			<div class="col-sm-10" id="mainWrapper">
				<br> <br>
				
				<add-notes></add-notes>
				
				<div ng-click="AddNoteBox=false; AddNoteColor='#ffffff'">
					<br> <br>
					<h4 ng-show="pinnedAll.length">Pinned</h4>
					
					<div class="card" style="background-color: {{note.noteColor}}" 
						ng-repeat="note in userNotes | orderBy : '-modifiedDate' | filter :{pin:'true', archiveStatus:'false' , noteStatus:'true' , deleteStatus:'false'} as pinnedAll">
					
							<span class="glyphicon glyphicon-pushpin" style="cursor: pointer;float: right" ng-click="note.pin=false; updateNote(note)"> 
							</span>
						
						<br>
						<div ng-if="note.title!=''" style="padding-left:15px" ng-bind-html="note.title" ng-click="open(note)">
						
						</div>
						<br>
						<div ng-if="note.description!=''" style="padding-left:15px" ng-bind-html="note.description" ng-click="open(note)"></div>
						<br>
						<img ng-if="note.image!=''" ng-click="open(note)" style="height: 258px;padding-left:15px" ng-src="{{note.image}}"/>
						
						<div ng-if="note.reminderStatus!=''">{{note.reminderStatus}}<span ng-click="removeReminder(note)">&#10006;</span></div>
						<div>
						<ul id="remenderList" ng-repeat="lab in note.labels">
						<li>{{lab.labelName}}<span ng-click="ToggleLabel(note,lab)">&#10006;</span></li>
						</ul>
						
						</div>
						
						<div ng-init="getUserlist(note)">
							<div ng-repeat="noteUser in note.collabratorUsers">
							<img ng-src="{{noteUser.profile}}" class="img-circle" height="28px" width="28px">
							</div>
						</div>
						
						<div id="moreOptions" style="margin-top: 20px">
							<div class="dropdown" style="float: left; display: inline-flex;">
								<more-option></more-option>
								<reminder></reminder>
								<img alt="colaburator" src="image/colaburator.png" ng-click="openCollaborator(note)" height="25px">
								<color-palet></color-palet>
								<img alt="image" ng-click="openImageUploader(note)" src="image/image.svg" height="20px">
								<span ng-click="archiveNote(note)">
									<img alt="archive" src="image/archive.svg" height="20px">
								</span>
							</div>
						</div>
						
					</div>


					<h4 ng-show="pinnedAll.length">Others</h4>
					<div class="card" ng-click="popup(note)" style="background-color: {{note.noteColor}}"
						ng-repeat="note in userNotes | orderBy : '-modifiedDate' | filter :{pin:'false',archiveStatus:'false' , noteStatus: 'true' , deleteStatus:'false'} as OtherNotes">
						<div id="moreOptions" style="float: right">
							<span style="cursor: pointer" ng-click="note.pin='true'; updateNote(note)">
								<img alt="pin" style="height: 17px" src="image/pin.svg"/>
							</span>
						</div>
						
						<div ng-if="note.title!=''" style="padding-left:15px" ng-bind-html="note.title" ng-click="open(note)"></div>
						<br>
						<div ng-if="note.description!=''" style="padding-left:15px" ng-bind-html="note.description" ng-click="open(note)"></div>
						<br>
						<img ng-if="note.image!=''" ng-click="open(note)" style="height: 258px;padding-left:15px" ng-src="{{note.image}}"/>
						
						<div ng-if="note.reminderStatus!=''">{{note.reminderStatus}}<span ng-click="removeReminder(note)">&#10006;</span></div>
						
						<div id="moreOptions" style="margin-top: 20px">
							<div class="dropdown" style="float: left ;display: inline-flex;">
								<more-option></more-option>
								<reminder></reminder>
								<img alt="colaburator" src="image/colaburator.png" ng-click="openCollaborator(note)" height="25px">
								<color-palet></color-palet>
								<img alt="image" ng-click="openImageUploader(note)" src="image/image.svg" height="20px">
								<span ng-click="archiveNote(note)">
									 <img alt="archive" src="image/archive.svg" height="20px">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>