
 <nav class="navbar ">
  <div class="container-fluid" id="topNavigation">
	<!-- <form class="navbar-form navbar-center"> -->
    <ul class="nav navbar-nav">
    <li><i class="glyphicons glyphicons-show-lines"></i></li>
    <li><span style="font-size:25px; cursor:pointer" id="menu-toggle">&#9776;</span></li>
      <li><h4>Fundoo Notes</h4></li>
    <li>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div></li>
      </ul>
    <!-- </form> -->
  </div>
</nav> 