<nav class="navbar">
	<div class="container-fluid" id="topNavigation" ng-style="{'background-color': navBarColor}">
		<!-- <form class="navbar-form navbar-center"> -->
		<ul class="nav navbar-nav">
			<li><i class="glyphicons glyphicons-show-lines"></i></li>
			<li ng-click="sidebarToggle()">
			<span style="font-size: 25px; cursor: pointer">&#9776;</span></li>
			<li><h4 ng-bind="navBarHeading"></h4></li>
			<li><span style="padding-top: 10px" class="glyphicon glyphicon-search"></span></li>
			<li>
				<div class="form-group">
					<input type="text" id="srch" ng-show="searching" class="form-control" placeholder="Search" ng-model="searchText">
						<button id="srch" ng-hide="searching" ng-click="gotoSearch()">Search</button>
				</div>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
		<li ng-click="ListViewToggle()"><img ng-if="!ListView" height="40px" alt="gride" src="image/notesGride.png"><img ng-if="ListView" height="40px" alt="list" src="image/notesList.png"></li>
			<li>
				<div class="imagedropdown">
					<span class="btn dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
						
						<img alt='{{User.firstName.charAt(0)}}' class="img-circle" ng-src="{{User.profile}}" height="37px" width="38" style="margin-top: -6px">
					</span>
					
					<ul class="dropdown-menu" id="logoutDroupdown" role="menu" style="background-color: white; padding-left: 10px" aria-labelledby="menu1">
						<li     style="height: 150px;width: 200px;">
						<div>
						<span><img alt='{{User.firstName.charAt(0)}}' title="{{User.firstName.charAt(0)}}" class="img-circle" ng-src="{{User.profile}}" height="100px" style="margin-left:-103px; "width="100px">
						
						
						
						 <input id="imageuploader" ng-show="false" style="margin-right: 10px" type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
						
						<h4 style="margin-left: 138px;margin-top: -74px;">{{User.firstName}}</h4>
						<h5 style="margin-left: 150px;margin-top: 15px;">{{User.email}}</h5>
						</span>
						</div>
						</li>
						
						<button ng-click="openImageUploader('user')">change profile</button>
						<button ng-click="logout()">logout</button>
						
						
					</ul>
				</div>
			</li>
		</ul>
		<!-- </form> -->
	</div>
</nav>
